@charset "ISO-8859-1";


/**********************************/
/*          Styling Footer        */
/**********************************/
  
/*** Adding Styles to Company Details ***/

footer{
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px !important;
}
.company-details{ 
    overflow: hidden; 
    padding: 1em 1em; 
    background: #E3F0F7; 
    opacity: 0.8;
    text-align: center; 
    margin-top:0em; 
} 
  
#footer #col1, 
#footer #col2, 
#footer #col3{ 
    float: left; 
    width: 33%; 
    padding: 0px 0px 0px 0px; 
} 
      
#footer #icon{ 
    display: block; 
    margin-bottom: 1em; 
    font-size: 3em; 
} 
  
/*** Adding Styles to Copyright Div ***/
.copyright 
{ 
    overflow: hidden; 
    padding: 1em 1em; 
    text-align: center; 
    background: #17a2b8; 
} 
      
.copyright small 
{ 
    letter-spacing: 1px; 
    font-size: 0.85em; 
    color: white; 
} 

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}
  
/* Styling Social Icons */
