@charset "UTF-8";

#mylinks{
	align-items:baseline;

} 

.myheader{
	dispaly:flex;
}

.mynav{

	text-align:center;
}

.mynavlink{
	color:white;
	font-size: 20px;
	flex-direction:row;
	padding-left:15px;
}

.mynavlink:hover, 
.mynavlink:focus, 
.mynavlink:active, 
.mynavlink.active { 
  color: #dbc7af; 
} 

#loginButton{
	font-size:20px;
}
