@charset "UTF-8";

body{
	background-image:url("../Resources/background.png"); 
	background-size: 100%;
}

#main{
	background-color: rgba(255,255,255,0.9);
	padding-top: 15px;
	padding-bottom:50px;
	margin-bottom: 10%;
}

.center-cropped-logo img {
  object-fit: contain; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 100%;
  height: 130px;
  width: 130px;
  margin-bottom: 1rem;
  background-color:white;
}

.center-cropped-img img {
  object-fit: cover; /* Do not scale the image */
  object-position: bottom; /* Center the image within the element */
  width: 100%;
  max-height: 24rem;
  margin-bottom: 1rem;
}


#beach_resort_title{
	font-family: 'Raleway', sans-serif;
	font-size:3em;
}


.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.pbs, .pvs {
  padding-bottom: .25em;
}

.glyph {
  font-size: 16px;
  margin-right: 1.5em;
  float: left;
  width: 17em;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-child {
  width: 0.7138671875em;
}

.icon-wheelchair {
  width: 0.9091796875em;
}

.icon-shower {
  width: 1.0712890625em;
}

.icon-paw {
  width: 0.9287109375em;
}



/*COVER*/


.yb-cover #slogan{
    text-align: center;
    color:white;
    font-size: 40px;
   	font-weight: bold;
   	text-shadow: 2px 2px black;
			
}

.yb-cover #choose{
    text-align: center;
    color:white;
    font-size: 25px;
   	font-weight: bold;
   	text-shadow: 2px 2px black;
			
}



.yb-cover.home {
    text-align: center;
}


.ol-cover-search input {


    height: 38px;
    border: 1px solid #408080;
    border-radius: 6px;
    background: #fff;
    color: #000000;
    line-height: 12px;
    box-sizing: border-box;
    font-size: 15px;
    padding: 0px;
    margin: 2px;
    text-align : center;
}

.ol-cover-search {
    padding-top: 5px;
    text-align : center;
}
